# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node
node_modules/
npm-debug.log*

# React Native / Android
android/.gradle/
android/app/build/
*.keystore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
