-- schema.sql: create tables and hypertables
CREATE EXTENSION IF NOT EXISTS timescaledb;

CREATE TABLE IF NOT EXISTS companies (
  id uuid PRIMARY KEY,
  ticker text UNIQUE,
  exchange text,
  name text,
  isin text
);

CREATE TABLE IF NOT EXISTS fundamentals_quarterly (
  company_id uuid NOT NULL,
  period date NOT NULL,             -- period end date (ISO)
  report_type text NOT NULL,        -- "q" or "annual" etc
  currency text,
  unit text,                        -- e.g., "INR", "USD" and "million"/"absolute"
  revenue numeric,
  gross_profit numeric,
  ebitda numeric,
  operating_income numeric,
  net_income numeric,
  eps numeric,
  total_debt numeric,
  cash numeric,
  fcf numeric,
  PRIMARY KEY (company_id, period)
);

CREATE TABLE IF NOT EXISTS fundamentals_annual (
  company_id uuid NOT NULL,
  period date NOT NULL,
  report_type text NOT NULL,
  currency text,
  unit text,
  revenue numeric,
  gross_profit numeric,
  ebitda numeric,
  operating_income numeric,
  net_income numeric,
  eps numeric,
  total_debt numeric,
  cash numeric,
  fcf numeric,
  PRIMARY KEY (company_id, period)
);

CREATE TABLE IF NOT EXISTS metrics_normalized (
  company_id uuid NOT NULL,
  period date NOT NULL,
  metric_name text NOT NULL,
  metric_value numeric,
  metric_unit text,
  PRIMARY KEY (company_id, period, metric_name)
);

CREATE TABLE IF NOT EXISTS ownership (
  company_id uuid NOT NULL,
  period date NOT NULL,
  promoter_pct numeric,
  institutional_pct numeric,
  PRIMARY KEY (company_id, period)
);

-- create hypertables (timescaledb)
SELECT create_hypertable('fundamentals_quarterly', 'period', chunk_time_interval => INTERVAL '90 days', if_not_exists => TRUE);
SELECT create_hypertable('fundamentals_annual', 'period', chunk_time_interval => INTERVAL '365 days', if_not_exists => TRUE);
