CREATE SCHEMA IF NOT EXISTS market;

CREATE TABLE IF NOT EXISTS market.companies (
  ticker TEXT PRIMARY KEY,
  name TEXT,
  exchange TEXT,
  sector TEXT,
  industry TEXT,
  market_cap BIGINT,
  provider TEXT,
  updated_at TIMESTAMPTZ DEFAULT now()
);

CREATE TABLE IF NOT EXISTS market.price_history (
  time TIMESTAMPTZ NOT NULL,
  ticker TEXT NOT NULL,
  open NUMERIC,
  high NUMERIC,
  low NUMERIC,
  close NUMERIC,
  volume BIGINT,
  provider TEXT,
  created_at TIMESTAMPTZ DEFAULT now(),
  PRIMARY KEY (ticker, time)
);

-- timescaledb hypertable creation (run inside psql after tables exist)
-- SELECT create_hypertable('market.price_history', 'time', if_not_exists => TRUE);

CREATE TABLE IF NOT EXISTS market.raw_archive (
  id SERIAL PRIMARY KEY,
  provider TEXT,
  endpoint TEXT,
  params JSONB,
  file_path TEXT,
  fetched_at TIMESTAMPTZ DEFAULT now(),
  status_code INT,
  response_size INT
);
